<%= stylesheet_link_tag "new-artist.css" %>
<div class='header'>
  <span>
    <%= link_to '<', tracks_path, :class => 'back' %>
  </span>
  <h1>
    Edit Track
  </h1>
</div>

<%= render 'form' %>