<%= stylesheet_link_tag 'new-album.css' %>

<div class='header'>
  <span>
    <%= link_to '<', artists_path, :class => 'back' %>
  </span>
  <h1>
    Edit Album
  </h1>
</div>

<%= render 'form' %>

