* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(#A7B3B9, #121212);
  background-color: #070707;
  font-size: 18px;
  height: 100vh;
  width: 100vw;
  text-decoration: none;
  color: #fff;
}

h1 {
  font-size: 5rem;
  font-weight: 900;
}

a {
  color: #fff;
  text-decoration: none;
}

.header {
  height: 40vh;
  width: 100%;
  padding: 100px 200px;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 200;
}

.card {
  height: 280px;
  width: 220px;
  background-color: #282828;
  border-radius: 5px;
  margin: 50px 20px;
  padding: 20px 10px;
  font-size: 1.2rem;
}

.artist {
  color: #B3B3B3;
}

.avatar {
  width: 140px;
  border: none;
  border-radius: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.card-bottom {
  position: relative;
  top: 35px;
  display: flex;
  justify-content: space-between;
  padding: 2px 10px;
  font-size: 1rem;
}

.close { 
  position: relative;
  right: -70px;
  bottom: 10px;
  color: #B3B3B3;
  border-radius: 50%;
  border: 1px solid #B3B3B3;
  padding: 3px 6px;
  font-size: 0.8rem;
  margin-left: 16px;
}